<div class="login-container-wrapper">
    <div class="login-container">
        <!-- Logo dentro del contenedor -->
        <img src="../../../../assets/logo.png" alt="Logo" class="logo">
        
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input #usernameInput [(ngModel)]="username" name="username" type="text" placeholder="Username" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input #passwordInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
            </div>
            <div class="remember-register">
                <a href="javascript:void(0)" (click)="navigateToRegister()">Register a new user</a>
            </div>
            <button type="submit" class="login-btn">LOGIN</button>
        </form>
    </div>
</div>
