.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #99bdc8, #b4cfd5, #d1e1e4, #e3ebee);
    position: relative;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.logo {
    width: 100px; /* Tamaño del logo */
    height: auto;
    margin-bottom: 20px; /* Espacio debajo del logo */
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 55px; /* Ajusta esta distancia según el diseño */
    top: 50%;
    transform: translateY(-50%);
    color: #1a1a1a;
}

.input-group input {
    width: 80%;
    padding: 10px 15px 10px 40px; /* Espacio a la izquierda para el ícono */
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
    color: #333;
}

.remember-register {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: #fff;
}

.remember-register a {
    color: #000000;
    text-decoration: none;
}

.remember-register a:hover {
    text-decoration: underline;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #555;
}

::placeholder {
    color: #aaa;
}
