<div class="logo-container">
    <img class="logo-lookup" src="https://i.ibb.co/x6ykQBg/Captura-de-pantalla-2024-10-24-133527.jpg" alt="Logo">
</div>
<mat-divider></mat-divider>

<mat-card-content>
    <a routerLink="/prendas">
        <img mat-card-md-image src="https://static2.mujerhoy.com/www/multimedia/201812/12/media/cortadas/Bershka-CC-Cremona-41-kIkH-U601863220883AQF-624x468@MujerHoy.jpg">
    </a>
    <br>
    Administra las prendas registradas en el sistema,
      al mismo tiempo se pued asignar prendas a sus 
            respectivas tienda distribuidoras
</mat-card-content>

<br>
<br>

<mat-card appearance="outlined" class="example-card">
    <mat-card-header>
        <mat-card-title>Prendas</mat-card-title>
        <mat-card-subtitle>CRUD</mat-card-subtitle>
    </mat-card-header>    

</mat-card>
